body {
  background: rgb(236, 170, 46);
  text-align: center;
}

div {
  margin: 5%;
  /* margin-top: 5%; */
  width: 90%;
  height: 100px;
  border-radius: 15px;
  background-color: whitesmoke;
  text-align: center;
  align-items: center;
  padding-top: 10px;
  background: linear-gradient(orange, white, green);
}

span {
  margin-top: 80px;
  font-size: 100px;
}

img {
  visibility: hidden;
}
